<div class='sign_in_user_bar'>
      <% unless user_signed_in? %>
        <div class="user-sign-in-link">
          <%= link_to 'Sign in', new_user_session_path, method: :delete %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="user-sign-in-link">
          <%= link_to 'Sign out', custom_destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
</div>

<h1> List of all users </h1> 

<ul style="display:flex; flex-direction:column; justify-content:center; align-items:center"> 


<% @users.each do |user| %>
<%= link_to user_path(user) do %>
<li style="list-style:none"> <%= user.name %>  </li>
<li style="list-style:none"> <img style="height:50vh" src="<%= user.photo %>", alt="user image">  </li>
<li style="list-style:none"> Number Of Posts: <%= user.posts_counter %>  </li>
<% end %>
<% end %>
</ul>
