<div class="container">
  <div class="user-header">
    <h2><%= @user.name %></h2>
    <p>Number of Posts: <%= @posts.count %></p>
  </div>

  <% @posts.each do |post| %>
    <%= link_to user_post_path(@user, post) do %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <div class="comments">
          <p><%= post.comments_counter %> Comments</p>
          <ul>
            <% post.comments.each do |comment| %>
              <li><%= comment.text %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
        <div class="action-buttons">

          <div>
            <%= form_with url: user_post_likes_path(@user, post), method: :post, remote: true do |form| %>
              <%= form.submit "Like" %>
            <% end %>
            <%= post.likes_counter %>
          </div>
          <%= link_to "Add Comment", new_user_post_comment_path(@user, post) %>

          <%= form_with url: user_post_path(@user, post), method: :delete, remote: true do |form| %>
            <%= form.submit "Delete" %>
          <% end %>

        </div>
      </div>
  <% end %>
</div>
